

    
.botao-react{
    
    
    border: 1px solid #d39e00;
    border-radius: 4px;
    background: #d39e00;
    //display: inline-block;
    font-size: 10px;
    font-weight: bold;
    color: azure;
    //padding: 2px 60px;
    position: absolute;
    top: 60%;
    left: 50%;
    margin-top:-50px;
    margin-left:-50px;
    width: 150px;
    height: 50px;
}
    
