

    
.botao-react{
    
    
    border: 1px solid #d39e00;
    border-radius: 4px;
    background: #d39e00;
    font-family: 'Patua One', 'cursive';
    font-size: 15px;
    font-weight: bold;
    color: rgb(37, 37, 37);
    //padding: 2px 60px;
    position: absolute;
    top: 60%;
    left: 50%;
    margin-top:-50px;
    margin-left:-50px;
    width: 150px;
    height: 50px;
}
    
