.oQueOferecemosWrapper{  
     //background-color:grey;
     //width: 100%; 
     width: 100%;
     height: 100%;
     background-color:#5c5c5c;
     background-size: 100%;
     z-index:-1;
     background-repeat: no-repeat;
     display: flex;
     flex-direction: column;
     align-items: center;
     
 

    
}

// .oQueOferecemos {   
    //     margin-bottom: 100px;
    //     display: grid;
    //     grid-template-columns:repeat(auto-fit, minmax(350px, 1fr));
    //     grid-gap:20px;
    //     margin: 100px;
        
    // }