
*{
margin: 0;
padding: 0;

}




.menu{
  position: fixed;


#check{
  display: none;
}

#check:checked~ .barra{
  transform: translateX(300px)
}

#icone{
  cursor: pointer;
  padding: 15px;
  position: absolute; 
  z-index:1;
}


.barra{
 
  height: 50%;
  width: 140px;
  position: absolute;
  transition: all 1s linear; 
  left: -330px;
  
  
  nav{
    width: 100%;
    position: absolute;
    top: 60px;

    a{
      text-decoration: none;

      .link{
        
        background-color:transparent;
        padding: 20px;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 12pt;
        transition: all .2s linear;
        color: white;
        font-weight: bold;
       
        
        
       
      }

      .link:hover{
        //background-color:#12adcb;
        color:white;
        font-weight: 100;
        background-color:#29b6d6;
      }
    }
  }
}
}