.menu-botao{
        
    position: relative;
    left: 1230px;
    bottom: 120px;
            
    

    .botao-menu{
        background-color: rgb(37, 37, 37);
        color:#FFE359;
        border-color: rgb(37, 37, 37);
        font-family: 'Patua One', 'cursive';
            
    }
    .dropdown-menu{
        background-color: #FFE359;
        //color: white;
        font-family: none;
        padding: 10px;
        .dropdown-item{
        font-family: 'Patua One', 'cursive';
            
        }
    }

}